<main>
  <div>
    <%= flash[:notice] %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render'userinfo', user: @user, book: @newbook %>
      </div>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= image_tag @book.user.get_profile_image(100,100) %><br/>
              </td>
              <td>
                <%= @user.name %>
              </td>
              <td>
                <%= @book.title %>
              </td>
              <td>
                <%= @book.body %>
              </td>
              <td>
                <%= link_to "Edit", edit_book_path(@book.id), class: 'btn btn-sm btn-success' %>
              </td>
              <td>
                <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？", class: 'btn btn-sm btn-danger' %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>